@import "flex";
@import "variables";

.editing.modal-header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  > *:first-child {
    flex: 1;
  }

}

%editing-with-form {


  .ng-touched.ng-invalid {

    border: solid 1px $red;

    &::placeholder {
      color: $red;
    }

    &:focus {
      box-shadow: 0 0 8px opacify($red, 0.2);
    }

  }

  $margin: 5px;

  > form, > .form {

    @extend %flex-column-nowrap;

    > * {
      width: 100%;
      margin: $margin 0;
    }

    .field-group {

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {

        flex: 1;

        .button-container {

          display: flex;
          flex-flow: row nowrap;

          > * {
            flex: 1;
          }

          > * + * {
            margin-left: -1px;
          }

          label:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          label:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }

        }

      }

      > * + * {
        margin-left: $margin * 2;
      }

    }

  }

}