@import "flex";
@import "variables";

%flex-table {

  $cells-border-bottom: 1px solid $border-gray;
  $cells-padding: 3px;

  > %flex-table-headers {

    @extend %flex-row-nowrap;
    border-bottom: $cells-border-bottom;

    > * {
      color: darken($gray, 20%);
      font-weight: 500;
      font-size: 100%;
      padding-bottom: $cells-padding * 2;
    }

  }

  %flex-table-item {
    border-bottom: $cells-border-bottom;

    @extend %flex-row-nowrap;

    > * {
      padding: $cells-padding;
    }

  }

  %flex-table-item:hover {
    background: $hover-color;
  }

}
