@import "flex";
@import "variables";

%flex-table {

  $cells-border: 1px solid $border-gray;
  $cells-padding: 3px;

  $width-name: 30%;
  $width-address: 50%;
  $width-serving-master: 20%;

  > %flex-table-headers {

    @extend %flex-row-nowrap;

    > * {
      font-weight: 500;
      font-size: 110%;
      padding: $cells-padding * 2;
    }

  }

  %flex-table-item {

    @extend %flex-row-nowrap;

    > * {
      padding: $cells-padding;
      border: $cells-border;
    }

  }

}
