@import "variables";

form {
  input.ng-touched.ng-invalid {
    border-color: red;
  }
}

form, .form, fieldset {

  .flags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  label + .ats-switch {
    margin-left: 6px;
  }

  .field, .subtitle {
    & + * {
      //margin-top: 6px;
    }

    label {
      font-weight: normal;
    }

    > * + * {
      margin-left: 6px;
    }

  }

  .subtitle {

    font-size: 115%;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  sab-form-list {
    margin-top: 10px;
  }

  .lead {
    margin-bottom: 10px;
  }

}

.form-group.form-group-switch {
  label {
    padding-top: 5px;
  }
  .ats-switch {
    width: 100%;
  }
}

.ats-switch, .uib-datepicker-popup, .uib-datepicker-popup * {
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.uib-datepicker-popup {

  .uib-datepicker {
    button.btn.btn-default {
      border-color: white;
    }
    > table {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .uib-button-bar {
    button.btn.uib-close.btn-success {
      background-color: white;
      border-color: white;
      color: black;
    }
  }

}

.uib-datepicker-no-clear {

  .uib-datepicker-popup {

    .uib-button-bar {
      button.btn.uib-datepicker-current {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 100%;
      }
      button.btn.uib-clear {
        display: none;
      }
    }

  }

}

.form[disabled] {
  .form-group label + * {
    pointer-events: none;
    opacity: 0.7;
  }
}
