.glyphicon-clock-o:before {
  content: "\e023";
}

.glyphicon-times-circle-o:before  {
  content: "\e088";
}


.glyphicon-ban:before  {
  content: "\e090";
}

.glyphicon-exclamation-triangle:before  {
  content: "\e101";
}
