@import "variables";

li.active {
  .gray {
    color: white;
  }
}

.popover-content {

  padding: 0;

  .list-item {

    > a {

      display: block;
      padding: 8px;

      &:hover {
        background: $gray-background-color;
      }
    }

    & + .list-item {
      border-top: solid 1px $border-gray;
    }

    &.active a {

      font-weight: bold;
      color: $state-info-text;

    }

  }

}

.round-corners-by-type {

  .list-group-item:first-of-type {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .list-group-item:last-of-type {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

}

.list-group li {
  list-style: none;
}

.block-to-collapse {

  width: 33.1%;

  .list-group-item:first-of-type {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .list-group-item:last-of-type {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .list-group-item:only-of-type {
    border-radius: $border-radius;
  }

  a.list-group-item.active:first-of-type {
    border-radius: $border-radius $border-radius 0 0;
  }

  a.list-group-item.active:first-of-type + .list-group-item {
    border-radius: 0;
  }

  .list-group-item.active:first-of-type + .list-group-item:last-of-type {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

}
