@import "variables";

.modal-footer {

  $padding: 10px;

  padding: $padding;
  position: relative;

  .btn {
    margin: 5px;
  }

  button.destroy {
    position: absolute;
    left: $padding;
  }

}

.modal-header {

  h1 {
    font-size: 130%;
    margin: 0;
    padding: 0;
  }

}