.panel {
  .panel-heading {
    a:active, a:focus, a:hover, a:visited {
      text-decoration: none;
    }
  }
}

.panel-primary {
  .panel-heading {

    .text-muted {
      color: lightgrey;
    }
    a:active, a:focus, a:hover, a:visited {
      color: white;
    }

  }
}
