@import "mixins";
@import "flex";

//$primary-color: #2768b7;

$cask: rgb(141, 184, 238);
$worker-face: rgb(245, 206, 133);

$aqf-dark-blue: rgb(28, 24, 98);
$aqf-blue: rgb(51, 172, 225);
$aqf-light-blue: rgb(160, 224, 239);

//$primary-color: darken($cask, 15%);
$primary-color: darken($aqf-blue, 10%);
$active-color: $primary-color;
$sab-blue: $primary-color;

@import "../../../bower_components/sistemium-angular-bootstrap/dist/sass/variables.scss";
@import "../../../bower_components/sistemium-angular-bootstrap/dist/sass/colors.scss";

$black: #333333;
$blue: $sab-blue;
$dark-blue: darken($blue, 10%);
$gray: gray;
//$red: red;
$red: rgb(247, 143, 143);
$white: #fff;
//$warn: #f0ad4e;
//$warn: darken(, 8%);
$warn: $worker-face;
$warn-text: $primary-color;
//$warn-hover: #ec971f;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

$margin-default: 15px;
$navbar-padding-vertical: 15px;
$margin-bottom-xs: 10px;
$margin-bottom-xs-minus: 7px;
$border-gray: #eee;

$short-duration: 0.5s;
$gray-background-color: #f5f5f5;

$article-nav-menu-text-color: #555;

$border-radius: 10px;

// copied from bootstrap

$state-success-text: #3c763d !default;
$state-success-bg: #dff0d8 !default;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//$hover-color: #CFE1EE;
//$hover-color: lighten($cask, 20%);
$hover-color: lighten($aqf-light-blue, 10%);
$hover-color-gray: #e6e6e6;
$hover-border-color-gray: #adadad;

$warn-hover: darken($warn, 10%);
$warn-hover-text: darken($warn-text, 10%);

$info-background-color: $state-info-bg;
$info-color: $state-info-text;

$small-row-height: 31px;