@import "flex-table";

.service-planning {

  .filters {

    display: flex;
    align-items: center;
    margin: 10px 0 25px;

    .space {
      flex: 1;
    }

    > .month {

      display: flex;
      align-items: center;
      justify-content: flex-start;

      > .input-group {
        max-width: 120px;
      }

      > label {
        margin: 0 10px 0 3px;
      }

    }

    > .buttons {

    }

  }

  .planning {

    @extend %flex-table;

    .headers {
      @extend %flex-table-headers;
      align-items: center;
    }

    .service-item {

      @extend %flex-table-item;

      &.overdue {
        .last-service-date, .next-service-date {
          color: $red;
        }
      }

      .last-service-date, .filter-system {
        margin-top: 8px;
      }

    }

    .service-item, .headers {

      > .service-point {
        flex: 30;
        a > .address {
          color: $gray;
        }
        a {display: inline-block}
      }

      > .filter-system {
        flex: 20;
      }

      > .serving-master {
        flex: 20;
      }

      > .last-service-date {
        flex: 15;
      }

      > .next-service-date {
        flex: 20;
        > * + * {
          margin-top: 2px;
        }
      }

    }

    h4.serving-master {

      background: $gray-background-color;
      margin: 0;
      padding: 15px 10px 16px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .export {
        font-size: 75%;
      }

    }

  }


}