@import "flex-table";

.service-planning {

  .filters {

    display: flex;
    align-items: center;
    margin: 10px 0 25px;

    .space {
      flex: 1;
    }

    > .month {

      display: flex;
      align-items: center;
      justify-content: flex-start;

      > .input-group {
        max-width: 120px;
      }

      > label {
        margin: 0 10px 0 3px;
      }

    }

    .serving-master {
      margin-left: 1em;

      .popover {
        max-width: 300px;
      }
    }

    > .buttons {

    }

    .search {
      margin-left: $margin-default;
    }

  }

  .date-mode {
    //display: flex;
    margin-left: $margin-bottom-xs;
  }

  .planning {

    @extend %flex-table;

    .headers {
      @extend %flex-table-headers;
      align-items: center;
    }

    .service-item {

      @extend %flex-table-item;

      &.overdue {
        .last-service-date, .next-service-date {
          color: $red;
        }
      }

      .last-service-date, .filter-system, .is-paused, .served {
        margin-top: 8px;
        display: block;
      }

    }

    .service-item, .headers {

      > .service-point {
        flex: 30;

        .address {
          color: $gray;
        }

        a {
          display: block;
        }

        &.not-ready .address {
          color: $red;
        }
      }

      > .filter-system {
        flex: 20;
      }

      > .serving-master {
        flex: 20;
      }

      > .last-service-date {
        flex: 15;
      }

      > .next-service-date {

        flex: 25;
        min-width: 270px;

        > * + * {
          margin-top: 2px;
        }
      }

      .served span {
        margin-left: $margin-bottom-xs-minus;
      }

    }

    h4.serving-master {

      background: $gray-background-color;
      margin: 0;
      padding: 15px 10px 16px;

      display: flex;
      justify-content: space-between;

      .name {
        //flex: 1;
      }

      align-items: center;

      .options {

        display: flex;
        font-size: 75%;

        > * {
          margin-left: $margin-default;
        }
      }

    }

  }


}