@import "editing";

.edit-service-point {

  @extend %editing-with-form;

  .form .field-group {

    > .house, > .apartment {
      max-width: 120px;
    }

  }

  .flags {
    justify-content: flex-end;
  }

  .form > .info {

    textarea {
      resize: vertical;
      min-height: 33px;
    }

  }

}

