@import "editing";

.edit-service-point {

  @extend %editing-with-form;

  .form .field-group {

    > .house, > .apartment {
      max-width: 120px;
    }

  }

  .flags {
    justify-content: space-between;
  }

  .form > .info {

    textarea {
      resize: vertical;
      min-height: 33px;
    }

  }

  .address-search {

    .popover {
      max-width: 650px;
    }

    .address-search-results {

      > * {
        line-height: 34px;
        padding: 0 10px;
      }

      .address {

        display: flex;
        flex-flow: row nowrap;
        //@extend .ellipsis;

        &:hover, &.focused {
          background: $hover-color;
          text-decoration: none;
        }

        > * + * {
          margin-left: 5px;
        }

        .district, .locality, .street {
          @extend .ellipsis;
        }

        .glyphicon {
          line-height: inherit;
          font-size: 80%;
          color: $state-warning-text;
        }

      }

      .no-results {
        text-align: center;
        font-weight: bold;
        color: $state-warning-text;
      }


    }

  }

}

