.edit-service-item-service

  .field
    sab-date-picker-input(
    value='vm.serviceItemService.date'
    placeholder='Aptarnavimo data'
    )

  .field
    input.info.form-control(
    placeholder='Pastaba aptarnavimui'
    ng-model='vm.serviceItemService.info'
    )