.field-composite.service-item-service

  strong {{ vm.serviceItemService.date | amDateFormat }}
  strong(ng-if='vm.serviceItemService.serviceType') ({{ vm.serviceItemService.serviceType }})
  span {{ vm.serviceItemService.servingMaster.name }}
  strong.gray {{ vm.serviceItemService.info }}