edit-filter-system {

  margin: 10px 0;

  form {
    @extend %flex-column-nowrap;

    .filter-system-type, .filter-model, .filter-brand {
      width: 95%;
      margin: 10px auto;
    }

    .filter-system-type, .filter-brand {
      vfs-dropdown {

        .vfs-dropdown {

          border: 1px solid #ccc;
          border-radius: 4px;
          height: 33px;
          padding: 0 10px;

          a {
            text-decoration: none;
            height: 33px;
            @extend %flex-row-nowrap;
            justify-content: space-between;
            align-items: center;
          }

        }
      }
    }

  }

}