@import "../../styles/flex-table";


.filter-system {

  .filter-system-list {

    h2 {
      margin-top: 0;
    }

    .filter-brand:not(.ng-hide) + .filter-brand {
      h2 {
        margin-top: 15px;
      }
    }

    .headers {
      @extend %flex-table-headers;
    }

    .filter-brand {
      @extend %flex-table;

      .no-res.warn-block {
        border: 1px solid $border-gray;
        padding: 5px;
        text-align: center;
        background-color: $warn;
        color: white;
      }
    }

    > * {

      .filter-system-type {
        width: 50%;
      }

      .filter-model {
        width: 50%;
      }

    }

    .scroll-y {

      .filter-system {

        @extend %flex-table-item;

        .filter-system-type, .filter-model {
          cursor: pointer;
          @extend .ellipsis;
        }

      }

    }

  }
}
