.filter-system {

  .filter-system-list {

    .headers {
      @extend %flex-table-headers;
    }

    .filter-brand {
      @extend %flex-table;
    }

    > * {

      .filter-system-type {
        width: 50%;
      }

      .filter-model {
        width: 50%;
      }

    }

    .scroll-y {

      .filter-system {

        @extend %flex-table-item;

        .filter-system-type, .filter-model {
          cursor: pointer;
          @extend .ellipsis;
        }

      }

    }

  }
}
