.filter-system(cg-busy='vm.cgBusy')

  navigation-bar(view-buttons='' state-name='' search-text='vm.searchText' edit-click-fn='vm.addClick')

  .filter-system-list
    .scroll-y(
    resize
    resize-offset-top='5'
    )
      .filter-brand(ng-repeat='brand in vm.brands track by brand.id')

        h2 {{brand.name}}

        .headers
          .filter-system-type Filtro Sistemos Tipas
          .filter-model Filtro Sistemos Modelis

        .no-res.warn-block(ng-if='!foundFilter.length') Filtrų Nerasta

        .filter-system(ng-repeat='filter in brand.filterSystems | filter: vm.searchText as foundFilter track by ' +
        'filter.id' ng-click='vm.openModal(filter)')

          .filter-system-type {{filter.filterSystemType.name}}
          .filter-model {{filter.model}}