.auth-status

  .user-pic(ng-if='vm.isLoggedIn()')
    img(ng-src='/images/color/icons8-User.png')

  .user-name(ng-click='vm.nameClick()' ng-if='vm.isLoggedIn()')
    span {{ vm.user.name }}
    span {{ vm.user.lastName }}

  a(href ng-if='!vm.isLoggedIn()' ng-click='vm.loginClick()') {{ vm.notLoggedInText() }}