@import "variables";

.auth-status {

  font-size: 15px;

  > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 37px;
  }

  .user-pic {

    height: 30px;
    margin-right: 5px;

    img {
      height: 30px;
      border-radius: 50%;
      border: 1px solid $border-gray;
      object-fit: contain
    }

  }

  .user-name {

    color: $primary-color;

    span + span {
      margin-left: 3px;
    }

    @media (max-width: $screen-xs) {

      //width: 35px;
      //line-height: 35px;
      display: none;

      //span:first-letter {
      //  visibility: visible;
      //}
      //span {
      //  font-size: 25px;
      //  visibility: hidden;
      //  width: 17px;
      //}
      //
      //span + span {
      //
      //}

    }

  }

  span {
    line-height: inherit;
    display: inline-block;
  }

  span:first-letter {
    color: $primary-color;
  }

  a {
    //width: 50px;
    text-align: right;
    display: flex;
  }

}

.auth-status:hover {

  img {
    border-color: darken($primary-color, 15%);
  }

  .user-name {
    color: darken($primary-color, 15%);
  }

}