.auth-status

  a(href ng-click='vm.nameClick()' ng-if='vm.isLoggedIn()')

    .user-pic
      img(ng-src='/images/color/icons8-User.png')

    .user-name
      span {{ vm.user.name }}
      span {{ vm.user.lastName }}

  a(href ng-if='!vm.isLoggedIn()' ng-click='vm.loginClick()') {{ vm.notLoggedInText() }}