@import "variables";

.service-point-sidenav {

  margin-right: 10px;
  width: 300px;
  box-shadow: $box-shadow;

  vfs-searcher {
    display: flex;
  }

  .search-add {

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 6px;
    padding: 8px 10px;

    vfs-searcher {
      flex: 1;
    }

    button {
      margin-left: 6px;
      padding: 6px 8px;
    }

  }

  .scroll-y {

    .service-point {

      &.not-ready .address {
        color: $red;
      }

      @extend %flex-column-nowrap;

      border-bottom: 1px solid $border-gray;
      padding: 0 10px;
      position: relative;

      .name {
        @extend .ellipsis;
        margin-top: 3px;
        font-weight: 400;
        padding-right: 22px;
        min-height: 19px;
      }

      .is-paused {
        margin-right: 6px;
      }

      .address {
        @extend .ellipsis;
        align-self: flex-end;
        max-width: 100%;
        color: $gray;
        line-height: 30px;
        min-height: 30px;
        font-size: smaller;
      }

      .badge {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: $gray-background-color;
        color: darken($gray, 10%);
      }

    }

    .service-point:hover {
      background: $hover-color;
    }

    .active {
      background: darken($hover-color, 5%);
    }

    .active:hover {

    }

  }

}
