@import "../../styles/flex-table";
@import "../../styles/mixins";

.service-point-list {

  $width-name: 30%;
  $width-address: 50%;
  $width-serving-master: 20%;

  @extend %flex-table;

  > * {

    .name {
      width: $width-name;
    }

    .address {
      width: $width-address;
    }

    .serving-master {
      width: $width-serving-master;
    }

  }

  .headers {
    @extend %flex-table-headers;
  }

  .scroll-y {

    .service-point {

      cursor: pointer;

      @extend %flex-table-item;

      .name, .address, .serving-master {
        @extend .ellipsis;
      }

    }

  }

}

.service-point-detailed {

  $width-filter-system: 35%;
  $width-assembler: 30%;
  $width-serving-master: 30%;
  $width-edit-button: 5%;

  @extend %flex-column-nowrap;
  .sub-nav {

    @extend %flex-row-nowrap;
    justify-content: space-between;
    padding: 10px;
    box-shadow: $box-shadow;
    background: $gray-background-color;

    .filter-user {
      min-height: 50px;

      .user-address {
        font-size: 20px;
      }

      .users {
        color: $custom-gray;
        justify-content: flex-end;
        @extend %flex-row-nowrap;
        span {
          margin-right: 10px;
        }
      }

    }
    .buttons {
      align-self: center;
    }
  }

  .service-point-info {

    margin-right: 10px;
    padding-right: 10px;

    > * {
      @extend %flex-row-nowrap;
      justify-content: space-between;
      > label {
        padding-left: 10px;
        @extend .ellipsis;
        @include responsive-only(lt-sm) {
          max-width: 200px;
        }
      }
    }
  }

  .header-1 {
    font-size: 20px;
    margin: 5px 0 5px 0;
    .badge {
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  .service-point-items {
    margin-top: 10px;
    padding: 10px;
    box-shadow: $box-shadow;

    .header {
      @extend %flex-row-nowrap;
      justify-content: space-between;
      align-items: center;
    }

    @extend %flex-table;

    .headers {
      @extend %flex-table-headers;
    }

    > * {

      .filter-system {
        width: $width-filter-system;
      }

      .assembler {
        width: $width-filter-system;
      }
      .serving-master {
        width: $width-filter-system;
      }
      .edit-button {
        width: $width-edit-button;
      }

    }

    .scroll-y {
      .service-point-item {
        @extend %flex-table-item;

        .edit-button:hover {
          background: darken($hover-color, 10%);
          border-radius: 2px;
        }

        .assembler, .filter-system {
          @extend .ellipsis;
        }
      }
    }

  }

}

.service-point-sidenav {

  margin-right: 10px;
  width: 300px;

  searcher {
    margin-bottom: 10px;
    display: flex;
  }

  .scroll-y {
    box-shadow: $box-shadow;
    .service-point {

      @extend %flex-column-nowrap;
      border-bottom: 1px solid $border-gray;
      padding: 0 10px;

      .name {
        @extend .ellipsis;
        margin-top: 3px;
        font-weight: 400;
      }

      .address {
        @extend .ellipsis;
        align-self: flex-end;
        max-width: 100%;
        color: $custom-gray;
        line-height: 30px;
        font-size: smaller;
      }
    }

    .service-point:hover {
      background: $hover-color;
    }

    .active {
      background: darken($hover-color, 5%);
    }

    .active:hover {

    }

  }

}
