.service-point-list

  .headers
    .name Naudotojas
    .address Adresas
    .serving-master Aptarnavimo Meistras

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  )
    .service-point(
    ng-repeat='servicePoint in vm.servicePoints | orderBy: "name" track by servicePoint.id'
    ng-click='vm.servicePointClickFn(servicePoint, $index)'
    )
      .name {{servicePoint.name}}
      .address {{servicePoint.address}}
      .serving-master {{servicePoint.servingMaster.name}}

  .ui-view
