@import "../../styles/flex-table";
@import "../../styles/mixins";

.service-point-list {

  $width-name: 30%;
  $width-address: 50%;
  $width-serving-master: 20%;

  @extend %flex-table;

  > * {

    .name {
      width: $width-name;
    }

    .address {
      width: $width-address;
    }

    .serving-master {
      width: $width-serving-master;
    }

  }

  .headers {
    @extend %flex-table-headers;
  }

  .scroll-y {

    .service-point {

      cursor: pointer;

      @extend %flex-table-item;

      .name, .address, .serving-master {
        @extend .ellipsis;
      }

    }

  }

}

.service-point-detailed {

  $width-filter-system: 30%;
  $width-installing-master: 20%;
  $width-serving-master: 20%;
  $width-service-contract: 30%;
  $width-action-edit-button: 30px;

  $btn-padding: 3px 6px;
  $action-button-margin: 7px;

  @extend %flex-column-nowrap;
  .service-point {

    @extend %flex-row-nowrap;
    justify-content: space-between;
    padding: 10px;
    box-shadow: $box-shadow;
    background: $gray-background-color;
    min-height: 70px;

    .service-point-info {

      .address {
        font-size: 20px;
      }

      .service-point-contacts {

        color: $custom-gray;
        align-items: flex-end;
        @extend %flex-column-nowrap;

        .contact {

          .name {
            margin-right: 10px;
          }

        }
      }

    }
    .button-block {
      align-self: center;
    }
  }

  .service-point-info {

    margin-right: 10px;
    padding-right: 10px;

    > * {
      @extend %flex-row-nowrap;
      justify-content: space-between;
      > label {
        padding-left: 10px;
        @extend .ellipsis;
        @include responsive-only(lt-sm) {
          max-width: 200px;
        }
      }
    }
  }

  .button-block {
    .btn {
      padding: $btn-padding;
    }
  }

  .service-point-items {
    margin-top: 10px;
    box-shadow: $box-shadow;

    .header {
      box-shadow: $box-shadow;
      @extend %flex-row-nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .header-text-1 {
        font-size: 20px;
        margin: 5px 0 5px 0;
      }

      .button-block {
        .btn {
          padding: $btn-padding;
        }
      }
    }

    @extend %flex-table;

    .service-point-list {
      margin: 0 5px;
      .headers {
        padding: 5px 0 0 4px;
        @extend %flex-table-headers;
      }

      > * {

        .filter-system {
          width: $width-filter-system;
        }
        .installing-master {
          width: $width-filter-system;
        }
        .serving-master {
          width: $width-filter-system;
        }
        .service-contract {
          width: $width-service-contract;
        }
        .action-edit-button {
          width: $width-action-edit-button;
          margin-right: $action-button-margin;
        }

      }

      .scroll-y {

        .service-point-item {

          @extend %flex-table-item;

          .action-edit-button {

            margin-right: $action-button-margin - 1;
            border-radius: 4px;

            i {
              @extend %flex-row-nowrap;
              justify-content: center
            }
          }

          .action-edit-button:hover {
            background: darken($hover-color, 10%);
          }

          .installing-master, .filter-system, .serving-master {
            @extend .ellipsis;
          }
        }
      }
    }

  }

}

.service-point-sidenav {

  margin-right: 10px;
  width: 300px;

  vfs-searcher {
    margin-bottom: 10px;
    display: flex;
  }

  .scroll-y {
    box-shadow: $box-shadow;
    .service-point {

      @extend %flex-column-nowrap;
      border-bottom: 1px solid $border-gray;
      padding: 0 10px;

      .name {
        @extend .ellipsis;
        margin-top: 3px;
        font-weight: 400;
      }

      .address {
        @extend .ellipsis;
        align-self: flex-end;
        max-width: 100%;
        color: $custom-gray;
        line-height: 30px;
        font-size: smaller;
      }
    }

    .service-point:hover {
      background: $hover-color;
    }

    .active {
      background: darken($hover-color, 5%);
    }

    .active:hover {

    }

  }

}
