@import "../../styles/flex-table";
@import "../../styles/mixins";

.service-point-list {

  $width-name: 30%;
  $width-address: 50%;
  $width-serving-master: 20%;

  @extend %flex-table;

  > * {

    .name {
      width: $width-name;
    }

    .address {
      width: $width-address;
    }

    .serving-master {
      width: $width-serving-master;
    }

  }

  .headers {
    @extend %flex-table-headers;
  }

  .scroll-y {

    .service-point {

      cursor: pointer;

      @extend %flex-table-item;

      .name, .address, .serving-master {
        @extend .ellipsis;
      }

    }

  }

}

.service-point-detailed {

  $width-filter-system: 40%;
  $width-assembler: 30%;
  $width-serving-master: 30%;

  @extend %flex-column-nowrap;

  .filter-user {
    font-size: 20px;
    color: $primary-color;
    padding: 10px;
    border-radius: $border-radius;
    background: $gray-background-color;

    .user-address {
      font-size: 15px;
      color: $custom-gray;
    }

  }

  .header-1 {
    font-size: 20px;
    margin: 20px 0;
    .badge {
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  .service-point-info {

    margin-right: 10px;
    padding-right: 10px;

    > * {
      @extend %flex-row-nowrap;
      justify-content: space-between;
      > label {
        padding-left: 10px;
        @extend .ellipsis;
        @include responsive-only(lt-sm) {
          max-width: 200px;
        }
      }
    }
  }

  .service-point-items {
    padding-left: 8px;
    @extend %flex-table;

    .headers {
      @extend %flex-table-headers;
    }

    > * {

      .filter-system {
        width: $width-filter-system;
      }

      .assembler {
        width: $width-filter-system;
      }
      .serving-master {
        width: $width-filter-system;
      }

    }

    .scroll-y {
      .service-point-item {
        @extend %flex-table-item;
        .assembler, .filter-system {
          @extend .ellipsis;
        }
      }
    }

  }

}

.service-point-sidenav {

  margin-right: 20px;
  width: 300px;
  box-shadow: $box-shadow;

  .service-point {

    @extend %flex-column-nowrap;
    border-bottom: 1px solid $border-gray;
    padding: 0 10px;

    .name {
      @extend .ellipsis;
      margin-top: 3px;
      font-weight: 400;
    }

    .address {
      @extend .ellipsis;
      align-self: flex-end;
      max-width: 100%;
      color: $custom-gray;
      line-height: 30px;
      font-size: smaller;
    }
  }

  .service-point:hover {
    background: $hover-color;
  }

  .active {
    background: darken($hover-color, 5%);
  }

  .active:hover {

  }
}
