@import "../../styles/flex-table";

.service-point-master {

  display: flex;
  flex-direction: row;

  service-point-sidenav {
    max-width: 400px;
  }

  .ui-view {
    flex: 1;
    //box-shadow: $box-shadow;
  }

}
