@import "../../../styles/variables";

.vfs-login {

  .title {
    font-size: 130%;
    margin: 5px;
  }

  &, .login-options-group {
    display: flex;
    flex-direction: column;

    align-items: center;
    //justify-content: center;
  }

  .login-options-group {

    text-align: center;

    background-color: $gray-background-color;
    width: 300px;
    border-radius: 10px;

  }

}
