.vfs-login

  uib-alert(ng-bind='vm.error')

  .login-options-group

    .title Įeikete per

    .login-options
      p Mobilųjį telefoną:
      oauth-buttons(buttons-config='vm.mobile')

    .divider

    .login-options
      p Socialinį tinklą:
      oauth-buttons(buttons-config='vm.buttons')

