@import "../../../styles/variables";

.vfs-login {

  .title {
    font-size: 130%;
  }

  &, .login-options, .login-options-group {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  .login-options-group {

    background-color: $gray-background-color;
    width: 300px;
    border-radius: 10px;

  }

}
