@import "../../../styles/variables";

.vfs-login {

  display: flex;
  flex-direction: column;

  align-items: center;

  .alert-warning {
  }

  * + .login-options {
    margin-top: 10px;
  }

  .login-options p {
    color: $dark-gray;
  }

  .title {
    font-weight: 400;
    font-size: 150%;
    margin-bottom: 15px ;
  }

  .login-options-group {

    padding: 20px;
    text-align: center;

    background-color: $gray-background-color;
    width: 300px;
    border-radius: 10px;

  }

}
