.vfs-login

  //about
  .login-options-group

    .alert-warning(uib-alert ng-if='vm.error') {{ vm.error }}

    .title
      span Prisijunkite per

    .login-options
      p Mobilųjį telefoną:
      oauth-buttons(buttons-config='vm.mobile')

    .divider

    .login-options
      p Socialinį tinklą:
      oauth-buttons(buttons-config='vm.buttons')

  .footer
    a(href="/#/privacy") Privatumo politika
    span |
    a(href="/#/about") Apie