.brand-list

  .headers
    .name Pavadinimas

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  )
    .brand(
    ng-repeat='picture in vm.picture track by picture.id'
    ng-click='vm.openModal(picture)'
    )
      .name {{ picture.id }}
