@import "variables";

.site-popover {

  display: flex;
  align-items: center;
  font-size: 15px;

  > a {

    display: flex;
    align-items: center;

    padding: 2px;

    min-height: 37px;
  }

  .trigger {
    //padding-bottom: 4px;
  }

  @include responsive-only(xxs) {
    .suffix, .comma {
      display: none;
    }

  }

  .comma {

    margin-left: 1px;
    margin-right: 3px;
    color: $gray;

  }

}