.site-popover

  span.comma ,

  a.trigger(
  href
  uib-popover-template='"app/domain/components/sitePopover/site.popover.template.html"'
  popover-placement='bottom-right auto'
  popover-is-open='vm.popoverIsOpen'
  )
    span(ng-if='!vm.current') pasirinkite padalinį
    span(ng-if='vm.current')
      span.name «{{ vm.current.name }}»
      span.suffix &nbsp;padalinys