.items

  a.item(
  href
  ng-repeat='item in items track by $index'
  ng-click='vm.itemClick(item)'
  ng-class="{disabled: item.disabled}"
  )
    .pic
      img(ng-src='/images/{{item.icon}}')

    span.caption {{::item.title}}