@import "../../styles/variables";

.stm-menu {

  overflow-x: hidden;
  $img-size: 40px;

  .page-header {

    margin: 0 auto 25px;
    position: relative;

    border-bottom: none;
    text-align: center;

    .title {
      display: inline-block;
    }

    h2 {
      margin: 0 auto;
      font-size: 210%;
      //color: $aqf-dark-blue;
      color: $gray;
    }

  }

  .items {

    align-items: stretch;
    width: 100%;

  }

  button.btn .caption .badge {
    background-color: $primary-color;
    color: $white;
  }

  .icon {
    padding: 5px;
    img {
      max-height: $img-size;
      max-width: $img-size;
    }
  }

  button {

    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-start;
    border-color: $aqf-light-blue;

    .icon {

    }

    .caption {
      color: $aqf-dark-blue;
      flex: 1;
      text-align: center;
      line-height: 30px;
    }
  }

}
