.items

  .item(
  ng-repeat='item in items track by $index'
  ng-click='vm.goTo(item.state, item.disabled)'
  ng-class='{"disabled-choice" : item.disabled}'
  )
    .pic
      img(ng-src='/images/windows/{{item.icon}}')

    span.caption {{::item.title}}