@import "variables";

.stm-menu {

  @function random-metro-color($list) {
    @return nth($list, random(10));
  }

  width: 100.7%;

  $metro-colors: #A200FF, #FF0097, #00ABA9, #8CBF26, #A05000, #E671B8, #F09609, #1BA1E2, #E51400, #339933;
  $img-size: 70px;
  $item-length: 9;
  $item-hover-color: lighten($primary-color, 50%);
  $shadow: 0 0 5px 2px $item-hover-color;

  $item-margin: 4px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @mixin random-color() {
    //background-color: random-metro-color($metro-colors);
  }

  .item {

    height: 150px;
    margin: $item-margin;
    width: 100%;
    border: solid 1px $border-gray;

    &.disabled > * {
      opacity: 0.4;
    }

    &:hover {
      box-shadow: $shadow;
      text-decoration: none;
      border-color: $item-hover-color;
      background-color: lighten($border-gray, 4%);
    }

    @extend %flex-column-nowrap;
    justify-content: space-between;

    @for $i from 1 through $item-length {
      &:nth-child(#{$i}) {
        @include random-color();
      }
    }

    @include responsive-only(lg) {
      width: calc(100% / 5 - 8px);
    }

    @include responsive-only(gt-md) {
      width: calc(100% / 4 - 8px);
    }

    @include responsive-only(sm) {
      width: calc(100% / 3 - 8px);
    }

    @include responsive-only(xs) {
      width: calc(100% / 2 - 8px);
    }

    @include responsive-only(xxs) {
      width: calc(100%);
      margin: 4px 0;
    }

  }

  .item:last-of-type {
    flex: 1
  }
  //
  //.disabled-choice:hover {
  //  background: #dddddd;
  //  cursor: default;
  //}

  .items {
    @extend %flex-row-wrap;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pic {

    @extend %flex-row-nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    img {
      align-self: center;
      height: $img-size;
      width: $img-size;
    }

  }

  .caption {
    //color: white;
    margin: 15px 15px 10px 10px;
    font-size: 15px;
    letter-spacing: 1px;
  }

}
