@import "../../styles/variables";

.stm-menu {

  @function random-metro-color($list) {
    @return nth($list, random(10));
  }

  $metro-colors: #A200FF, #FF0097, #00ABA9, #8CBF26, #A05000, #E671B8, #F09609, #1BA1E2, #E51400, #339933;
  $img-size: 100px;
  $item-length: 9;

  overflow-y: scroll;

  @mixin random-color() {
    background-color: random-metro-color($metro-colors);
  }

  .item {

    height: 150px;
    margin: 2px;
    width: 100%;
    cursor: pointer;

    @extend %flex-column-nowrap;
    justify-content: space-between;

    @for $i from 1 through $item-length {
      &:nth-child(#{$i}) {
        @include random-color();
      }
    }

    @include responsive-only(lg) {
      width: calc(100% / 5 - 4px);
    }

    @include responsive-only(gt-md) {
      width: calc(100% / 4 - 4px);
    }

    @include responsive-only(sm) {
      width: calc(100% / 3 - 4px);
    }

    @include responsive-only(xs) {
      width: calc(100% / 2 - 4px);
    }

    @include responsive-only(xxs) {
      width: calc(100% - 4px);
    }

  }

  .item:last-of-type {
    flex: 1;
  }

  .disabled-choice{

  }

  .disabled-choice:hover {
    background: #dddddd;
    cursor: no-drop;
  }

  .items {
    @extend %flex-row-wrap;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pic {

    @extend %flex-row-nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    img {
      align-self: center;
      height: $img-size;
      width: $img-size;
    }

  }

  .caption {
    color: white;
    margin: 15px 15px 10px 10px;
    font-size: 15px;
    letter-spacing: 1px;
  }

}
