@import "../../../styles/flex-table";
@import "../../../styles/variables";

$background-service-point-color: lighten($gray-background-color, 0%);

.service-point-details {

  $header-color: darken($gray, 10%);

  box-shadow: $box-shadow;

  $btn-padding: 3px 6px;

  background: $background-service-point-color;

  @extend %flex-column-nowrap;

  .address, .contacts, .items, .service-point-pictures {

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 2px $white;

    &:last-of-type {
      border-bottom: none;
    }

    .header {
      @extend %flex-row-nowrap;

      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin: 0 8px;
      color: $header-color;

      .chapter-name {

        @extend %flex-row-nowrap;

        justify-content: center;
        align-self: center;
        //height: 25px;

        i {
          width: 22px;
          display: none;
        }
      }
    }
  }

  .address {

    .header {
      float: right;
    }

    .service-point-location {

      @extend %flex-row-nowrap;
      justify-content: flex-start;
      align-items: center;

      .service-point-map {

        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 5px;

        img {
          object-fit: none;
          height: 120px;
          width: 120px;
          border-radius: 50%;
        }

      }

      .service-point-address {

        @extend %flex-column-wrap;
        margin: 0 10px;

        .point-address {
          font-size: 25px;
          line-height: 25px;
          overflow: hidden;
          height: 52px;

        }

        .site {
          font-size: 17px;
          //color: $gray;
        }

      }

    }
  }

  .items {

    .header {

      .chapter-name {
        i {
          top: 5px;
        }
      }

      .button-block {
        > .popover {
          padding: 0 !important;
          max-width: 500px;
          min-width: 500px;
        }
      }
    }
    
  }

}