@import "../../../styles/flex-table";

.service-point-details {

  $width-filter-system: 30%;
  $width-installing-master: 20%;
  $width-serving-master: 20%;
  $width-service-contract: 30%;
  $width-action-edit-button: 30px;

  $btn-padding: 3px 6px;
  $action-button-margin: 7px;

  @extend %flex-column-nowrap;

  .service-point {

    @extend %flex-row-nowrap;
    justify-content: space-between;
    padding: 10px;
    box-shadow: $box-shadow;
    background: $gray-background-color;
    min-height: 70px;

    .service-point-info {

      .address {
        font-size: 20px;
        .office {
          color: $gray;
          margin-left: 10px;
        }
      }

      .service-point-contacts {

        color: $gray;
        align-items: flex-end;
        @extend %flex-column-nowrap;

        .contact {

          .name {
            margin-right: 10px;
          }

        }
      }

    }
    .button-block {
      align-self: center;
    }
  }

  .service-point-info {

    margin-right: 10px;
    padding-right: 10px;

    > * {

      @extend %flex-row-nowrap;
      justify-content: space-between;

      > label {

        @extend .ellipsis;

        padding-left: 10px;

        @include responsive-only(lt-sm) {
          max-width: 200px;
        }

      }

    }

  }

  .button-block {
    .button-add {
      padding: $btn-padding;
    }
  }

  .service-point-items {

    margin-top: 10px;
    box-shadow: $box-shadow;

    .popover {
      padding: 0 !important;
      max-width: 500px;
      min-width: 500px;
    }

    .header {

      @extend %flex-row-nowrap;

      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .header-text-1 {
        font-size: 20px;
        margin: 5px 0 5px 0;
      }

      .button-block {
        .btn {
          padding: $btn-padding;
        }
      }
    }

    @extend %flex-table;

    .service-point-list {

      margin: 0 5px;

      .headers {
        padding: 5px 0 0 4px;
        @extend %flex-table-headers;
      }

      .headers >, .service-point-item > {

        .filter-system {
          width: $width-filter-system;
        }
        .installing-master {
          width: $width-filter-system;
        }
        .serving-master {
          width: $width-filter-system;
        }
        .service-contract {
          width: $width-service-contract;
        }
        .action {
          width: $width-action-edit-button;
          margin-right: $action-button-margin;
        }

      }

      .scroll-y {

        .service-point-item {

          @extend %flex-table-item;

          height: $small-row-height;
          align-items: center;

          &.has-changes > .action.button {
            background-color: $state-warning-text;
          }

          .action.btn {

            margin-right: $action-button-margin - 1;
            padding: 0;

            > i {
              top: 3px;
            }

          }

          .action.btn:hover {
            background: darken($hover-color, 10%);
          }

          .installing-master, .filter-system, .serving-master {
            @extend .ellipsis;
          }

        }
      }
    }

  }

}