@import "../../../styles/flex-table";
@import "../../../styles/variables";

$background-service-point-color: lighten($gray-background-color, 0%);

.service-point-details {

  $header-color: darken($gray, 10%);

  box-shadow: $box-shadow;

  $btn-padding: 3px 6px;

  background: $background-service-point-color;

  .no-geolocation {
    box-shadow: 0px 0px 20px 0px rgba(255, 18, 18, 0.5);
  }

  ng-map {
    height: 120px;
    width: 120px;

    a[href^="http://maps.google.com/maps"],
    a[href^="https://maps.google.com/maps"],
    a[href^="https://www.google.com/maps"] {
      display: none !important;
    }

    .gmnoprint:not(.gm-bundled-control) {
      display: none;
    }

    .gm-bundled-control .gmnoprint {
      display: block;
    }

  }

  .address, .contacts, .items, .service-point-pictures {

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 2px $white;

    &:last-of-type {
      border-bottom: none;
    }

    .header {
      @extend %flex-row-nowrap;

      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin: 0 8px;
      color: $header-color;

      .chapter-name {

        @extend %flex-row-nowrap;

        justify-content: center;
        align-self: center;
        //height: 25px;

        i {
          width: 22px;
          display: none;
        }
      }
    }
  }

  .address {

    @extend %flex-row-nowrap;
    justify-content: space-between;

    .button-block {
      margin: 0 8px;
    }

    .service-point-location {

      @extend %flex-row-nowrap;
      justify-content: flex-start;
      align-items: center;

      .loading-spinner {
        border: 1px solid #eeeeee;
        width: 120px;
        height: 120px;
        .uil-ripple-css {
          div {
            box-sizing: border-box;
          }

          width: 120px;
          height: 120px;
          position: unset;
        }

      }

      .service-point-map {

        margin: 0 10px;
        min-height: 120px;
        min-width: 120px;

      }

      .service-point-add-info {

        min-height: 120px;

        @extend %flex-column-wrap;

        .point-address {

          font-size: 25px;
          line-height: 30px;
          overflow: hidden;
          flex: 1;

          @media (max-width: $screen-md-max) {
            font-size: 20px;
            line-height: 25px;
          }

          @media (max-width: $screen-sm-max) {
            font-size: 17px;
            text-align: justify;
            line-height: 20px;
          }

        }

        .contract {

          @extend %flex-row-wrap;

          color: $gray;
          font-size: 17px;

          @media (max-width: $screen-sm-max) {
            //height: 45px;
          }

        }

      }

    }
  }

  .items {

    .header {

      .chapter-name {
        i {
          top: 5px;
        }
      }

      .button-block {
        > .popover {
          padding: 0 !important;
          max-width: 500px;
          min-width: 500px;
        }
      }
    }

  }

}