@import "servicePointDetails";
@import "../../../styles/variables";

.service-point-details {

  $border: 1px solid darken($border-gray, 5%);

  .contacts {

    .service-point-contacts {

      @extend %flex-row-wrap;

      margin: 0 5px;

      .contact {

        flex-flow: column nowrap;
        display: flex;
        border: $border;
        margin: 5px;
        background: lighten($gray-background-color, 10%);

        a {
          @extend .ellipsis;
        }

        .name {
          font-size: 15px;
          font-weight: bold;
          text-transform: capitalize;
          padding: 2px 4px;
          border-bottom: $border;
          width: 100%;
        }

        .phones, .emails {
          flex-flow: column nowrap;
          display: flex;
          padding: 2px 5px 5px 5px;

          .title {
            font-weight: bold;
          }
        }

        .delete-btn {
          border-top: $border;
          padding: 5px 0;
          margin-top: auto;
          text-align: center;
        }

        .confirm-destroy {
          background-color: $state-warning-bg;
          color: $state-warning-text;
        }

      }

    }
  }

}