@import "../../../styles/variables";

.edit-service-item {

  $padding: 4px;

  .field {

    @extend %flex-row-nowrap;

    justify-content: space-between;
    align-items: center;
    //padding: $padding 0;

    input {
      height: $small-row-height;
    }

    > label {
      flex: 40;
    }

    > label + * {

      margin-left: $margin-default;
      flex: 75;

      display: block;
      text-align: right;

    }

    .vfs-dropdown {
      margin: 6px 0;
    }

  }

  .footer {

    $padding-footer: 14px;

    position: relative;
    padding: $padding $padding-footer;
    text-align: right;

    margin: 19px -14px -9px;

    background-color: $gray-background-color;
    border-top: solid 1px $border-gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .destroy {
      position: absolute;
      left: $padding-footer;
    }

  }

}
