.oauth-buttons

  a.oauth-button(
  ng-repeat='btn in vm.buttonsConfig'
  ng-click='vm.oauthButtonClick(btn)'
  class='{{ btn.url }}'
  href
  )
    img(ng-src='{{ btn.icon }}')
    .divider
    .name {{ btn.name }}

