navigation-bar {
  .nav {

    @extend %flex-row-nowrap;

    box-shadow: $box-shadow;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 10px;

    .navigation {

      min-width: 50%;
      @extend %flex-row-nowrap;
      align-items: center;
      .buttons {
        margin: 0 10px;
        a {
          cursor: pointer;
          i {
            font-size: 25px;
            color: $gray;
            margin-right: 10px;
          }
        }
      }

    }

    .search-edit-block {

      width: 50%;
      @extend %flex-row-nowrap;
      align-items: center;
      justify-content: flex-end;

      vfs-searcher {
        flex: 0.7;
      }

      .button-block {
        margin: 0 10px;
        button {
          padding: 6px 8.5px;
        }
      }

    }

  }

  .active {
    color: $warn !important;
    pointer-events: none;
  }
}
