@import "../../../styles/variables";

.navigation-bar {

  @extend %flex-row-nowrap;

  justify-content: space-between;

  box-shadow: $box-shadow;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 10px;

  .navigation {

    @extend %flex-row-nowrap;

    align-items: center;

    .buttons {

      margin: 0 10px;

      .active-view {
        cursor: pointer;
        color: $warn;
        pointer-events: none;
      }

      a {

        cursor: pointer;

        i {
          font-size: 25px;
          color: $gray;
          margin-right: 10px;
        }

      }

    }

  }

  .tools {

    @extend %flex-row-nowrap;

    align-items: center;
    justify-content: flex-end;

    flex: 1;

    vfs-searcher {
      flex: 1;
    }

    .buttons {

      margin-left: 10px;

      button {
        padding: 6px 8.5px;
      }

    }

  }

}
