@import "variables";

.navigation-bar {

  @extend %flex-row-nowrap;

  justify-content: space-between;

  //box-shadow: $box-shadow;
  height: 50px;
  //padding: 0 10px;
  margin-bottom: 20px;

  .navigation {

    @extend %flex-row-nowrap;

    align-items: center;

    .buttons {

      //margin-right: $margin-bottom-xs / 2;

      .active {
        cursor: pointer;
        color: $warn;
        pointer-events: none;
      }

      a {

        color: $gray;

        &:hover {
          color: $warn-hover;
        }

        i {
          font-size: 25px;
          margin-right: 10px;
        }

      }

    }

  }

  .tools {

    @extend %flex-row-nowrap;

    align-items: center;
    justify-content: flex-end;

    flex: 1;

    vfs-searcher {
      flex: 1;
    }

    .buttons {

      margin-left: $margin-bottom-xs;

      button {
        padding: 6px 8.5px;
      }

    }

  }

}
