.navigation-bar

  .navigation(ng-if='vm.viewButtons')

    .buttons
      a(href ng-click='vm.tableViewClick()')
        i.glyphicon.glyphicon-align-justify(ng-class='{active: vm.currentState === "table"}')

      a(href ng-click='vm.tilesViewClick()')
        i.glyphicon.glyphicon-th(ng-class='{active: vm.currentState === "tiles"}')

  .tools

    vfs-searcher(search='vm.searchText')

    .buttons
      button-add(button-click='vm.editClickFn()')
