.navigation-bar

  .navigation(ng-if='vm.viewButtons')

    .buttons
      a(ng-click='vm.goToTable()')
        i.glyphicon.glyphicon-align-justify(ng-class='{"active-view": vm.active === "table"}')

      a(ng-click='vm.goToTiles()')
        i.glyphicon.glyphicon-th(ng-class='{"active-view": vm.active === "tiles"}')

  .tools

    vfs-searcher(search='vm.searchText')

    .buttons
      button.btn.btn-warning(ng-click='vm.editClickFn()')
        i.glyphicon-plus.glyphicon