.new-service-point
  form
    .user
      h3 Naudotojas

      .name
        label(for='exampleInputEmail1') Vardas
        input#user-name.form-control(type='text', aria-describedby='emailHelp', placeholder='Vardas')
        small.form-text.text-muted We'll never share your email with anyone else.

      .last-name
        label(for='exampleInputEmail2') Pavardė
        input#user-last-name.form-control(type='text', aria-describedby='emailHelp', placeholder='Pavardė')
        small.form-text.text-muted We'll never share your email with anyone else.

      .mob-phone
        label(for='exampleInputEmail3') Mob. Telefonas
        input#user-mob-phone.form-control(type='text', aria-describedby='emailHelp', placeholder='Mob. Telefonas')
        small.form-text.text-muted We'll never share your email with anyone else.

    .address
      h3 Adresas
      .address-common
        .district
          label(for='exampleInputEmail1') Savivaldybė
          input#district.form-control(type='text', aria-describedby='emailHelp', placeholder='Savivaldybė')
          small.form-text.text-muted We'll never share your email with anyone else.
        .city
          label(for='exampleInputEmail1') Miestas
          input#city.form-control(type='text', aria-describedby='emailHelp', placeholder='Miestas')
          small.form-text.text-muted We'll never share your email with anyone else.
        .street
          label(for='exampleInputEmail1') Gatvė
          input#street.form-control(type='text', aria-describedby='emailHelp', placeholder='Gatvė')
          small.form-text.text-muted We'll never share your email with anyone else.
      .address-detailed
        .home-num
          label(for='exampleInputEmail1') Namo №
          input#home-num.form-control(type='text', aria-describedby='emailHelp', placeholder='Namo №')
          small.form-text.text-muted We'll never share your email with anyone else.
        .flat-num
          label(for='exampleInputEmail1') Būto №
          input#flat-num.form-control(type='text', aria-describedby='emailHelp', placeholder='Būto №')
          small.form-text.text-muted We'll never share your email with anyone else.
        .floor
          label(for='exampleInputEmail1') Aukštas
          input#floor.form-control(type='text', aria-describedby='emailHelp', placeholder='Aukštas')
          small.form-text.text-muted We'll never share your email with anyone else.

    .serving-master
      h3 Aptarnaujantis Meistras
      vfs-dropdown