@import "flex-table";

.person-master {

  @extend %flex-table;

  $width-first-name: 22%;
  $width-last-name: 22%;
  $width-code: 16%;
  $width-phone: 20%;

  //$width-avatar-picture: 8%;

  .headers {
    @extend %flex-table-headers;
  }

  > * {

    .first-name {
      width: $width-first-name;
    }

    .last-name {
      width: $width-last-name;
    }

    .code {
      width: $width-code;
    }

    .avatar-picture {
      //width: $width-avatar-picture;
    }

    .phone, .email {
      width: $width-phone;
    }

  }

  .headers > *:last-of-type {
    text-align: right;
  }

  .scroll-y {

    .person {

      @extend %flex-table-item;

      .first-name, .last-name, .phone, .code, .email, .avatar-picture {
        @extend .ellipsis;
      }

      > *:last-of-type {
        text-align: right;
      }

    }

  }

}