.person-master(cg-busy='vm.cgBusy')

  navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

  .headers
    .first-name Vardas
    .last-name Pavardė
    .code Asmens Kodas
    .email E-paštas
    .phone Telefonas
    //.avatar-picture Fotografija

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  )
    .person(
    ng-repeat='person in vm.persons | filter: vm.searchText track by person.id'
    ng-click='vm.openModal(person)'
    )

      .first-name {{ person.firstName }}
      .last-name {{ person.lastName }}
      .code {{ person.code }}
      .email
        a(href='mailto:{{ person.email}}' ng-click='$event.stopPropagation()') {{ person.email }}
      .phone
        a(href='{{ person.telHref }}' ng-click='$event.stopPropagation()') {{ person.phone }}
      //.avatar-picture
        span {{ person.avatarPictureId ? 'Yra' : ''}}


