@import "../../../styles/variables";

.root-navbar {

  @extend %flex-center;

  //margin-top: $margin-bottom-xs;
  margin-bottom: $margin-bottom-xs;
  height: 37px;

  > .separator {
    flex: 1;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .fullscreen-menu {
    font-size: 24px;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  > a + a {
    margin-left: 20px;
    @media (max-width: $screen-xs-max) {
      margin-left: 15px;
    }
  }

  & + hr {
    margin-top: 12px;
  }

  a.home {

    b {
      top: 3px;
      right: 1px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }

    &.disabled {
      background: none !important;
    }

  }

  a.inactive {
    color: $aqf-dark-blue;
  }

  img {
    max-height: 40px;
  }

  syncer-indicator {
    margin-right: 8px;
  }

  a.sub-root-nav {
    @include responsive-only(xxs) {
      display: none;
    }
  }

  .lastDigest {
    color: $gray-background-color;
  }

  auth-status {
    height: inherit;
    line-height: inherit;
  }

}