h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  a.home(href ui-sref='home' ng-if='vm.currentIcon')
    img(ng-src='{{vm.currentIcon}}')

  a.home.sub-root-nav(href ng-click='vm.rootClick()' ng-if='vm.isSubRootState')
    b.glyphicon.glyphicon-chevron-left

  a(href ng-click='vm.rootClick()' ng-class='{inactive: vm.isHomeState}')
    span {{ vm.title }}

  .separator

  small.lastDigest(ng-if='vm.lastDigest >= 0') D:{{ vm.lastDigest }}

  syncer-indicator

  auth-status

hr
