.about
  p
  p Ši svetainė yra UAB „Vandens Filtravimo Sistemos“ vidinis įrankis, skirtas naudoti jos darbuotojams ir partneriams.
  p Norint tęsti darbą su svetaine, reikalingas leidimas vienu iš šių būdų.
  p Sėkmingai autorizavus, vartotojui bus suteikta galimybė tvarkyti jam prieinamą informaciją apie Bendrovės klientus.
  p Vartotojai, neturintys įgaliojimų bendrovėje, negalės pasiekti jokios informacijos svetainėje.
    |  Informacija apie Bendrovės paslaugas ir susisiekimo su atstovais būdus pateikiama jos viešoje svetainėje
    |  <a href="https://aquafilter.lt" target="_blank">aquafilter.lt</a>
