@import "variables";

sab-form-list {

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  > .form-list {

    width: 100%;

    > .edit-block {

      margin-bottom: 6px;
      border: solid 1px $border-gray;
      padding: 0 6px 12px;
      border-radius: $border-radius;
      box-shadow: 0 0 3px 1px $border-gray;

      .title {

        display: flex;
        justify-content: flex-start;
        padding: 6px;

        > strong {
          color: $state-warning-text;
        }

        .buttons {
          white-space: nowrap;
          .save:not(.ng-hide) + .cancel {
            color: $gray;
          }
        }

      }
    }

    .lead {

      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-top: 10px;
      margin-bottom: 10px;

    }

    ng-transclude {
      display: block;
      margin-left: 10px;
    }

  }

  .buttons .btn, .btn.add {

    line-height: 1;
    border-bottom: dashed $primary-color 1px;
    padding: 2px 4px;
    margin-left: 10px;

  }

  .form {

    > .field, > .field-group {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .field-group {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive-only(xxs) {

      flex-direction: column;

      > * {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include responsive-only(gt-xxs) {

      > * {
        flex: 1;
        margin-right: 6px;
        &:last-child {
          margin-right: 0;
        }
      }

    }

  }

}