.filter-system-type(
cg-busy='vm.cgBusy'
)
  .ui-view

    navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

    brand-list(
    brands='vm.brandsFiltered'
    brand-click-fn='vm.brandClick'
    )