.filter-system-type-list

  .headers
    .name Pavadinimas
    .code Kodas
    .service-frequency Aptarnavimo Dažnumas

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  )
    .filter-system-type(
    ng-repeat='filterSystemType in vm.filterSystemTypes track by filterSystemType.id'
    ng-click='vm.openModal(filterSystemType)'
    )
      .name {{ filterSystemType.name }}
      .code {{ filterSystemType.code }}
      .service-frequency {{ filterSystemType.serviceFrequency }}
