.vfs-searcher

  label.search-icon(for='vfs-searcher-input')
    i.glyphicon.glyphicon-search

  .form-group

    input#vfs-searcher-input(
    name='search'
    placeholder='Įveskite paieškos tekstą'
    ng-model='vm.search'
    autocomplete='off'
    )

    a.clear-button.animate-show.ng-hide(href ng-click='vm.search = ""' ng-show='vm.search')
      i.glyphicon.glyphicon-remove
