@import "editing";

.show-service-item {

  .toggle-editing {

    position: absolute;
    top: -43px;
    right: 35px;

  }

  .lead {
    * + * {
      margin-left: 6px;
    }
  }

  .service-item-services + * {
    margin-top: $margin-default;
  }

}

.edit-service-item {
  @extend %editing-with-form;
  .installing-date, .installing-price {
    max-width: 150px;
  }

  vfs-dropdown .popover {
    max-width: 350px;
  }
}