@import "editing";

.show-service-item {

  .toggle-editing {

    position: absolute;
    top: -43px;
    right: 35px;

  }

  .lead {
    margin-top: 0;
    margin-bottom: 10px;
  }

}

.edit-service-item {

  @extend %editing-with-form;

  .service-item-service {

    display: flex;

    > * + * {
      margin-left: 10px;
    }

    > .buttons {

      max-width: 40px;

      a {

        color: $border-gray;

        &.confirmation {
          color: $red !important;
        }

        &:hover {
          color: $link-hover-color;
        }

        .glyphicon {
          top: 2px;
        }
      }


    }

  }

}