.show-service-item

  fieldset

    .lead.filter-system
      span {{ vm.serviceItem.filterSystem.name }}
      small(ng-if='vm.serviceItem.info') &nbsp;({{ vm.serviceItem.info }})

    .field.installing-master
      strong {{ vm.serviceItem.installingMaster.name || 'Nežinoma kas' }}
      span montavo
      strong {{ vm.serviceItem.installingDate | amDateFormat }}

    .field.serving-master
      strong {{ vm.serviceItem.servingMaster.name || 'Nežinoma kas' }}
      span {{ vm.serviceItem.lastServiceDate ? 'aptarnavo' : 'bus aptarnauti' }}
      strong {{ vm.serviceItem.lastServiceDate | amDateFormat }}

    .field
      span {{ vm.serviceItem.servicePrice ? 'Ypatinga' : 'Standartinė' }}
      span aptarnvimo kaina
      strong {{ vm.serviceItem.servicePrice || vm.serviceItem.filterSystem.servicePrice || vm.serviceItem.filterSystem.filterSystemType.servicePrice }}
      span €

    .field
      span {{ vm.serviceItem.serviceFrequency ? 'Ypatingas' : 'Standartinis' }}
      span aptarnvimo dažnumas kas
      strong {{ vm.serviceItem.serviceFrequency || vm.serviceItem.filterSystem.serviceFrequency || vm.serviceItem.filterSystem.filterSystemType.serviceFrequency }}
      span mėn.

    .field(ng-if='!vm.serviceItem.guaranteePeriodFn()')
      label Garantijos nėra

    .field(ng-if='vm.serviceItem.guaranteePeriodFn()')
      span {{ vm.serviceItem.guaranteePeriod ? 'Ypatingas' : 'Standartinis' }}
      span garantinis laikotarpis
      strong {{ vm.serviceItem.guaranteePeriodFn() }}
      span mėn. {{ vm.serviceItem.installingDate ? 'iki' : '' }}
      strong {{ vm.serviceItem.guaranteeEnd() | amCalendar }}

    .service-item-services(ng-if='vm.serviceItemServices.length')

      .lead Aptarnavimų istorija:

      .field.service-item-service(ng-repeat='service in vm.serviceItemServices track by service.id')
        strong {{ service.date | amDateFormat }}
        strong.gray {{ service.info }}
