@import "variables";
@import "flex";


.employee-tiles {

  $tile-height: 270px;

  .employee {

    float: left;
    box-shadow: $box-shadow;
    height: $tile-height;

    width: calc(100% / 5 - 20px);
    margin: 10px;
    text-align: center;

    .avatarPicture {

      display: inline-block;
      margin-bottom: 10px;

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

    }

    .info {

      > * {

        @extend %flex-row-nowrap;

        padding: 0 10px;
        height: 24px;
        line-height: 24px;
        width: 100%;
        justify-content: space-between;

        label {
          font-weight: normal;
          color: $gray;
          margin-right: 10px;
        }

        span {
          font-weight: 500;
        }

        i {
          font-size: larger;
        }

        span, a {
          @extend .ellipsis;
        }
      }

    }

    .buttons {

      @extend %flex-row-nowrap;

      border-top: 1px solid $border-gray;
      justify-content: flex-end;
      margin-top: 6px;

      > button {
        margin-right: 0;
        border: 0;
        border-radius: 0;
      }

    }

  }

  @include responsive-only(gt-md) {

    .tile {
      margin: 10px;
      width: calc(100% / 4 - 20px);
    }

  }

  @include responsive-only(sm) {

    .tile {
      width: calc(100% / 3 - 20px);
    }

  }

  @include responsive-only(xs) {

    .tile {
      width: calc(100% / 2 - 20px);
    }

  }

  @include responsive-only(xxs) {

    .tile {
      width: calc(100% / 1 - 20px);
    }

  }

}