.editing.modal-header

  h1 {{vm.title}}
    .lead(ng-if="vm.lead") {{ vm.lead }}

  a.close-btn(href='', ng-click='vm.cancelClick()')
    i.glyphicon.glyphicon-remove

.modal-body

  service-month-report(
  date-b="vm.dateB"
  date-e="vm.dateE"
  serving-master-id="vm.servingMasterId"
  group-by="serviceItem.filterSystem.filterSystemType.name"
  )