.employee-table

  .headers
    .first-name Vardas
    .last-name Pavardė
    .telephone Mob. Telefonas

  .scroll-y(
  resize
  resize-offset-top='5'
  )
    .employee(
    ng-repeat='employee in vm.employees | filter: vm.searchText track by employee.id'
    )
      .first-name {{employee.person.firstName}}
      .last-name {{employee.person.lastName}}
      .telephone
        a(href='tel:{{ employee.person.phone }}') {{ employee.person.phone }}
