@import "../employee";

.employee-table {

  $width-first-name: 30%;
  $width-last-name: 30%;
  $width-telephone: 30%;

  $width-site: 10%;

  @extend %flex-table;

  .headers {
    @extend %flex-table-headers;
  }

  > * {

    .site {
      width: $width-site;
    }

    .first-name {
      width: $width-first-name;
    }

    .last-name {
      width: $width-last-name;
    }

    .telephone {
      width: $width-telephone;
    }

  }

  .headers > *:last-of-type {
    text-align: right;
  }

  .scroll-y {

    .employee {

      @extend %flex-table-item;

      .first-name, .last-name, .telephone {
        @extend .ellipsis;
      }

      > *:last-of-type {
        text-align: right;
      }

    }

  }

}