.employee-table

  .headers
    .site Padalinys
    .first-name Vardas
    .last-name Pavardė
    .telephone Telefonas

  .scroll-y(
  resize
  resize-offset-top='5'
  )
    .employee(
    ng-repeat='employee in vm.employees | filter: vm.searchText track by employee.id'
    ng-click='vm.employeeClick(employee)'
    )
      .site {{ employee.site.name }}
      .first-name {{ employee.person.firstName }}
      .last-name {{ employee.person.lastName }}
      .telephone
        a(href='tel:{{ employee.person.phone }}' ng-click='$event.stopPropagation()') {{ employee.person.phone }}
