.edit-service-point-contact

  .form

    .first-name
      label Kontaktinis asmuo

      vfs-dropdown(
      ng-model='vm.servicePointContact.personId'
      items-data-source-name='Person'
      ready-state='vm.readyState.personId'
      auto-new='true'
      )
