.filter-system-type(
cg-busy='vm.cgBusy'
)
  .ui-view

    navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

    filter-system-type-list(
    filter-system-types='vm.filterSystemTypesFiltered'
    )