@import "../../../styles/variables";

vfs-dropdown {

  .active {
    background: darken($hover-color, 5%);
  }

  .scroll-y {

    .search {
      margin: 0 5px 5px 5px;

      input {
        width: 190px;
        border-radius: 0;
      }

    }

    .item {
      height: 40px;
      width: 200px;

      span {
        display: block;
        @extend .ellipsis;
        line-height: 40px;
        padding: 0 10px;
      }

      span.no-res {
        text-align: center;
        font-weight: bold;
      }

    }

    .item:hover {
      background: $hover-color;
      cursor: pointer;
    }
  }
}
