@import "variables";

vfs-dropdown {

  $padding: 5px;
  $border-color: #ccc;
  $height: 32px;

  .vfs-invalid.edit-block > .title {
    color: $red;
  }

  .popover {
    min-width: 340px;
    width: 90%;
    max-width: 100%;
  }

  .popover-content {
    padding: $padding;
  }


  .active {
    background: darken($hover-color, 5%);
  }

  .vfs-dropdown {

    display: flex;

    > a {

      display: flex;
      flex: 1;

      justify-content: space-between;
      align-items: center;
      text-decoration: none;

      .dropdown-input {

        cursor: pointer;
        width: 100%;

        > * {
          color: $primary-color;
        }

        input {
          padding-right: 60px;
          @extend .ellipsis;
        }

        .clear {
          display: inline-block;
          cursor: pointer;
          position: relative;
          line-height: $height;
          left: -50px;
          top: 2px;
          width: 0;
          margin-left: 0;

        }

        .caret {
          cursor: pointer;
          position: relative;
          line-height: $height;
          left: -25px;
          width: 0;
          margin-left: 0;

        }

        display: flex;
        flex-flow: row nowrap;

      }

    }

    > button-add, > button-edit {
      margin-left: $padding;
      button.btn-warning {
        border: 1px solid $border-color;
        background-color: $white;
      }
    }

  }

  .search-add {

    @extend %flex-row-nowrap;

    margin-bottom: 6px;

    .search {
      flex: 1;
    }

    button {
      margin-left: 6px;
      padding: 6px 8px;
    }

  }

  .vfs-dropdown-items > *, .no-results {

    @extend .ellipsis;

    line-height: 34px;
    display: block;
    padding: 0 10px;

  }

  .no-results {
    text-align: center;
    font-weight: bold;
  }

  .vfs-dropdown-item:hover, .vfs-dropdown-item.focused {
    background: $hover-color;
    cursor: pointer;
  }

  .edit-block {

    margin-top: $padding;
    padding: $padding;
    box-shadow: $box-shadow;
    border-radius: $padding;

    &.vfs-invalid .edit-block.vfs-invalid {
      //background-color: $state-warning-bg;
    }

    .title {

      text-align: center;
      font-size: 120%;
      font-weight: 400;
      padding: 0 0 $padding $padding * 2;
      color: $black;

      border-bottom: solid 1px $border-gray;

      display: flex;
      align-items: center;

      > span {
        flex: 1;
        text-align: left;
      }

      > a {

        display: inline-block;
        margin-left: $padding;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        font-size: 15px;
        padding: 1px 4px;
        border-radius: 4px;

      }

      > a.save {
        background: lighten($state-success-text, 10%);
        color: $white;
      }

      > a.cancel i {
        top: 2px;
      }

    }

    .button-block {

      @extend %flex-row-nowrap;

      justify-content: flex-end;
      margin: $padding -5px 0;

      padding: $padding*1.5 $padding $padding/2;
      border-top: solid 1px $border-gray;

      button {
        margin-left: 7px;
      }

    }

  }
}