@import "../../../styles/variables";

.vfs-searcher {

  $border: solid 1px $border-gray;

  @extend %flex-row-nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;

  > * {
    border: $border;
  }

  .search-icon {

    border-right: 0;

    height: 34px;
    line-height: 34px;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    i {
      color: #737373;
      margin: 0 10px;
    }

  }

  input {

    border-radius: 0;
    border-right: none;
    border-left: none;

    padding-left: 0;

    line-height: 30px;
    width: 100%;

  }

  button {

    border-radius: 0 4px 4px 0;
    border-left: none;
    padding: 6.5px 10px;

    i {
      color: white;
    }

  }

}
