.vfs-searcher

  .search-icon
    i.glyphicon.glyphicon-search

  input(
  name='search'
  placeholder='Įveskite paieškos tekstą'
  ng-model='vm.search'
  autocomplete='off'
  )

  button.btn.btn-warning(ng-click='vm.search = ""')
    i.glyphicon.glyphicon-remove

