.input-buttons-group

  .search-icon
    i.glyphicon.glyphicon-search

  input#system-search(
  name='q'
  placeholder='Įveskite paieškos tekstą'
  ng-model='vm.search'
  autocomplete='off'
  )

  span
    button.btn.btn-warning(ng-click='vm.search = ""')
      i.glyphicon.glyphicon-remove

