.searcher
  .input-group
    input#system-search.form-control(name='q', placeholder='Įveskite paieškos tekstą')
    span.input-group-btn
      button.btn.btn-default
        i.glyphicon.glyphicon-search
