@import "../../styles/flex-table";

.legal-entity-master {

  @extend %flex-table;

  $width-name: 44%;
  $width-code: 25%;
  $width-email: 16%;
  $width-phone: 15%;

  .headers {
    @extend %flex-table-headers;
  }

  > * {

    width: 100%;

    .name {
      width: $width-name;
    }

    .code {
      width: $width-code;
    }
    .email {
      width: $width-email;
    }
    .phone {
      width: $width-phone;
    }

  }

  .headers > *:last-of-type {
    text-align: right;
  }

  .scroll-y {

    .legal-entity-list {

      @extend %flex-table-item;

      .name, .code, .email, .phone {
        @extend .ellipsis;
      }

      > *:last-of-type {
        text-align: right;
      }

    }

  }

}