.legal-entity-master(cg-busy='vm.cgBusy')

  navigation-bar(search-text='vm.searchText' edit-click-fn='vm.addClick')

  .headers
    .name Pavadinimas
    .code Įmonės kodas

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  )
    .legal-entity-list(
    ng-repeat='legalEntity in vm.legalEntitiesFiltered track by legalEntity.id'
    ng-click='vm.openModal(legalEntity)'
    )

      .name {{ legalEntity.name }}
      .code {{ legalEntity.code }}