.service-point-list

  .headers
    .address Adresas
    .name Sutartis
    .serving-master Aptarnavimo Meistras

  .scroll-y(
  resize
  resize-offset-top='5'
  vs-repeat
  vs-excess='10'
  )
    .service-point(
    ng-repeat='servicePoint in vm.servicePoints track by servicePoint.id'
    ng-click='vm.servicePointClickFn(servicePoint, $index)'
    )
      .address {{ servicePoint.address }}
      .name {{ servicePoint.currentServiceContract.name }}
      .serving-master {{ servicePoint.recentServingMaster().name }}

  .ui-view
