.service-planning-service
  sab-date-picker-input(
  placeholder="{{ vm.servicePlanning.nextServiceDate }}"
  value="vm.newServiceDate"
  init-date="vm.monthDate"
  )

  .form-group-1(ng-if='vm.newServiceDate')
    input.info.form-control(placeholder='Papildomas aptarnavimas' ng-model='vm.newServiceInfo')

  .input-group(ng-if='vm.newServiceDate')
    input.info.form-control(placeholder='Sekančiam aptarnavimui' ng-model='vm.nextServiceInfo')
    span.input-group-btn
      button.btn.btn-success(
      ng-click='vm.saveItemServiceClick()'
      )
        i.glyphicon.glyphicon-ok